{#

Why cant I use a save.vue to replace this?
There are some functionality that are twig specific which causes some issues in transitions into vue.
    <save></save>
#}
<div id="save" class="save_container">
    <div class="col_wrapper">
        {% if page is not null %}
            <h2>Page Info</h2>

            <p><strong>Last Modified By</strong></p>
            <h3>{{ getUserName(page.modified_by) }}</h3>

            <p><strong>Last Modified On</strong></p>
            <h3>{{ page.updated_at|date('M d, y') }}  <span>{{ page.updated_at|date('G:i') }}</span></h3>

            <div class="page_status col_container half">
                <p class="clearfix"><strong>Page Status</strong></p>
                <div class="col selected">
                    <div class="page_status-radio">
                        <div class="page_status-radio-check"></div>
                    </div>
                    <p>Publish</p>
                </div>
                <div class="col">
                    <div class="page_status-radio">
                        <div class="page_status-radio-check"></div>
                    </div>
                    <p>Draft</p>
                </div>
            </div>

            <input type="hidden" name="page_status">
        {% endif %}

        <input type="hidden" name="page_action" value="{{ action }}">
        <input type="hidden" name="modified_by" value="{{ getCurrentUser() }}">

        <div class="save__btns" style="padding-left: 15px">
            <input type="submit" name="btn_save" class="flat_btn btn__save" value="Save">
            <a href="{{ main_page_url }}" class="flat_btn">Cancel</a>
        </div>
    </div>
</div>