{% extends "base.twig" %}

{% block content %}
    <h2>All Pages <a href="{{ add_page_url }}" class="add-new-h2">Add New</a></h2>

    <table class="wp-list-table widefat fixed striped posts">
        <thead>
        <tr>
            <th><a href="#"><span>Page Title</span></a></th>
            <th><a href="#"><span>Created By</span></a></th>
            <th><a href="#"><span>Modified By</span></a></th>
            <th><a href="#"><span>Last Updated</span></a></th>
            <th><a href="#"><span>Delete</span></a></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><strong><a href="{{ plugin_url }}{{ page.page_url|lower }}">{{ page.page_name }}</a></strong></td>
                <td>{{ getUserName(page.created_by) }}</td>
                <td>{{ getUserName(page.modified_by) }}</td>
                <td>{{ page.updated_at|date("m/d/Y h:i a") }}</td>
                <td><a href="#" class="remove_media" data-id="{{ page.page_id }}">Delete Page</a></td>
            </tr>
        {% else %}
            <tr>
                <td align="center" colspan="5" style="font-weight: bold">There are no pages.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
