<div class="module__layout col_container half" data-module="module_banner">
    <h2>Banner</h2>

    <div class="col">
        <h3>Select an image</h3>

        {% if content.banner_img is empty %}
            <img class="banner_img" src="{{ plugin_img_path }}thumbnail.jpg" alt="">
            <input type="text" class="banner_src" name="" value="" readonly>
        {% else %}
            <img class="banner_img" src="{{ base_url }}{{ content.banner_img }}" alt="">
            <input type="text" class="banner_src" name="" value="{{ base_url }}{{ content.banner_img }}" readonly>
        {% endif %}

        <a href="#" class="insert-media add_media flat_btn" data-editor="content" title="Add Media">
            <span class="wp-media-buttons-icon"></span> Add Media
        </a>
    </div>

    <div class="col">
        <h3>Additional Info</h3>

        <label for="banner_name">Banner Name</label>
        <input value="{{ content.banner_name }}" type="text" name="banner_name">

        <label for="banner_alt_text">Alt Text</label>
        <input value="{{ content.banner_alt_text }}" type="text" name="banner_alt_text">

        <label for="banner_caption">Captions</label>
        <textarea name="banner_caption"></textarea>

    </div>
</div>